<h1>Create Coffee</h1>

<form action="/coffees" method="post">
  Coffee Name: <input type="text" name="name">
  Coffee Farm: <input type="text" name="farm">
  Coffee Pounds: <input type="integer" name="pounds">
  <input type="submit" value="submit">
</form>
